@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* 
body {
  overflow: hidden;
}
@media (max-width: 1410px) {
  body {
    overflow: auto;
  }
} */
